<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Students</h2>
        <hr />

        <div class="table-responsive">
            <table class="table">
                <caption>List of Students</caption>
                <thead>
                    <tr>
                        <th>Student Num</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Course ID</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (students && students.length > 0) { %>
                        <% students.forEach(student => { %>
                            <tr>
                                <td><%= student.studentNum %></td>
                                <td><a href="/student/<%= student.studentNum %>"><%= student.firstName %> <%= student.lastName %></a></td>
                                <td><a href="mailto:<%= student.email %>"><%= student.email %></a></td>
                                <td><%= student.address %></td>
                                <td><%= student.status %></td>
                                <td><a href="/students?course=<%= student.courseID %>"><%= student.courseID %></a></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="6" class="text-center">No students found.</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <!-- "error message" -->
        <% if (!students || students.length === 0) { %>
        <div class="col-md-12 text-center">
            <strong><%= message %></strong>
        </div>
        <% } %>
    </div>
</div>
<% if (student) { %>
    <div class="col-md-12">
        <br>
        <h2><%= student.firstName %> <%= student.lastName %> - Student: <%= student.studentNum %></h2>
        <hr />

        <form method="post" action="/student/update">
            <input type="hidden" name="studentNum" value="<%= student.studentNum %>" />

            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input class="form-control" name="firstName" type="text" value="<%= student.firstName %>" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input class="form-control" name="lastName" type="text" value="<%= student.lastName %>" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Additional Information</legend>
                <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" name="email" type="email" value="<%= student.email %>" />
                </div>
                <div class="form-group">
                    <label>Address (Street):</label>
                    <input class="form-control" name="addressStreet" type="text" value="<%= student.addressStreet %>" />
                </div>
                <div class="form-group">
                    <label>Address (City):</label>
                    <input class="form-control" name="addressCity" type="text" value="<%= student.addressCity %>" />
                </div>
                <div class="form-group">
                    <label>Address (Province):</label>
                    <input class="form-control" name="addressProvince" type="text" value="<%= student.addressProvince %>" />
                </div>
                <div class="form-group">
                    <label>TA:</label>
                    <input class="form-check-input" name="TA" type="checkbox" <%= student.TA ? "checked" : "" %> />
                </div>
                <div class="form-group">
                    <label>Status:</label>
                    <label>
                        <input type="radio" name="status" value="Full Time" <%= student.status === "Full Time" ? "checked" : "" %>> Full Time
                    </label>
                    <label>
                        <input type="radio" name="status" value="Part Time" <%= student.status === "Part Time" ? "checked" : "" %>> Part Time
                    </label>
                </div>
                <div class="form-group">
                    <label>Course:</label>
                    <select class="form-control" name="course">
                        <% for (let i = 1; i <= 11; i++) { %>
                            <option value="<%= i %>" <%= student.course === i.toString() ? "selected" : "" %>><%= i %></option>
                        <% } %>
                    </select>
                </div>
            </fieldset>

            <hr />
            <input type="submit" class="btn btn-primary float-right" value="Update Student" /><br /><br /><br />
        </form>
    </div>
    <% } %>
</div>
